{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    

    <h1>Compte {{ app.user.username}} {{ app.user.name }} née le {{ app.user.birthday|date('d/m/Y')}}</h1>
    <p>Iban: {{ app.user.iban }}</p>
    <p>Solde Initial: {{ app.user.sold }},{{ app.user.centimes }} euros</p>

    


    
{% endblock %}